@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@100&family=Noto+Sans+KR:wght@100&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

body,
h1 {
    margin: 0px;
    padding: 0px;
}

.mainbox {
    width: 800px;
    text-align: right;
    /*텍스트 정렬 */
    border: 3px solid #ebebeb;
    /*테두리*/
    margin-left: auto;
    /* 박스 중앙정렬*/
    margin-right: auto;
    /*박스 중앙정렬*/
    padding: 30px;
    /*콘텐트와 테두리 사이 */
    margin: 30px;
    /*박스와 외부 사이*/
    box-shadow: 0 20px 50px 0 rgba(255, 0, 255, 0.2)
}

footer {
    text-align: center;
    background-color: black;
    color: #919191;
}

section {
    margin-bottom: 24px;
}

.name-text {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}

.about-me-text {
    font-size: 16px;
    line-height: 16px;
}

.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
    /*한 줄에서 좌우 정렬하기 */
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}